* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif ;
    box-sizing: border-box;
}

.header-top {
    width: 100%;
    max-width: 1500px;
    background-color: rgba(224, 224, 224, 1);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 0 15px;
}
.center {
    font-family: 'Lato',sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 8px;  
}

.retangulo {
    position: absolute;
    width: 400px;
    height: 344px;
    left: 105px;
    top: 100px;

}

.transaction-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
}
.label-input {
    font-size: 14px;
    line-height: 22px;

}

.table-container {
    padding-top: 400px;

}

.table-title {
    font-size: 1.125em;
    line-height: 1.125em;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 25px;
}



